<table class="table">
  <thead>
    <tr class="store-category">
      <th>Rentals</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Title</th>
      <th></th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @bill.skyStore.rentals.each do |elem| %>
      <tr>
        <td><%= elem.title %></td>
        <td></td>
        <td><%= elem.cost %></td>
      </tr>
    <% end %>
  </tbody>

  <thead>
    <tr class="store-category">
      <th>Buy & Keep</th>
      <th></th>
      <th></th>
    </tr>
    <tr>
      <th>Title</th>
      <th></th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @bill.skyStore.buyAndKeep.each do |elem| %>
      <tr>
        <td><%= elem.title %></td>
        <td></td>
        <td><%= elem.cost %></td>
      </tr>
    <% end %>
    <tr class="total">
      <td><h4>Total:</h4></td>
      <td></td>
      <td><h4><strong>£<%= @bill.skyStore.total %></strong></h4></td>
    </tr>
  </tbody>
</table>