<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="images/favicon.ico" rel="icon" type="image/x-icon"/>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <title>Sky Bill by omajul85</title>
</head>

<body class='container'>
  <%= partial :header %>
    
  <div id="content" class="container-fluid text-center">
    <%= partial :statement %>

    <button class="accordion active">My subscriptions</button>
    <div class="panel show">
      <%= partial :subscriptions %>
    </div>

    <button class="accordion">Call charges</button>
    <div class="panel">
      <%= partial :call_charges %>
    </div>

    <button class="accordion active">Sky store</button>
    <div id="foo" class="panel show">
      <%= partial :store %>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <p>Bill unattended test by <a href="https://github.com/omajul85/CV" target="_blank">Omar Alvarez</a></p>
  </footer>
  
  <script src="javascripts/accordion.js"></script>
</body>
</html>